.container
 {
    padding: 0px 16px;
 }


body
 {
    font-family: 'Poppins', sans-serif;
 }

.muli-font
 {
    font-family: 'Mulish', sans-serif;
    display: flex;
    font-size: 20px;
 }

.paragraph 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.navigation
{
    display: flex;
    justify-content: space-between;
}


.menu-links
 {
    display: none;
}


.menu-image 

{   
    display:block;
    
}


.menu-links ul li a 
{
    display: flex;
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1B1B1B;
}


.lets-talk
{
    display: none;

}

.message
 {
    margin-right: 8px;
 }

.message-icon
 {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    
 }

  .message-circle
 {
    display:flex;
 }
 .text-decoration
 {
   display:flex;
   justify-content: center;
   align-items: center;
   padding-top: 1px;
 }

.icon 
{
    color: white;
    padding: 12px;
    width: 16px;
    height: 16px;
}

.idea 
{
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.9px;
    color: #1B1B1B;
    text-align: center;
}

.idea-1
 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #5F5F5F;
    margin-bottom: 24px;
}

.lets-talk:hover 
{
    background-color: rgb(108, 99, 255);
    color: white;

}

.lets-talk-button 
{
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(108, 99, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}


.message-circle 
{
    background-color: rgb(108, 99, 255);
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-right: 12px;
}

.planning 
{
    display: flex;
    justify-content: center;
}

.planning-image,
.design-image,
.development-image,
.testing-image,
.support-image,
.launching-image
{
    width: 220px;
}

.line 
{
    border-bottom: 0.5px solid #EFEFEF;
    padding-top: 10px;
}

.our
{
    color: rgb(95, 95, 95);
}


.our-services-section,
.our-process-section,
.have-idea

{
   padding-top: 40px;
}

h1 
{
   font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.9px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
}

.hero-banner 
{
    padding-bottom: 40px;
}


p 
{
    text-align: center;
}

.muli-font 
{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    color: #5F5F5F;
}


.color 
{
    color: rgb(108, 99, 255);
}

.border 
{
    height: 40px;
    width: 40px;
    border: 2px solid rgb(108, 99, 255);
    border-radius: 50%;
    background-color: rgb(108, 99, 255);
}

.hero-banner 
{
    display: flex;
    flex-direction: column-reverse;
}

.first-image 
{
    display: flex;
    justify-content: center;
    padding-top: 72px;
}

.creative-image 
{
    width: 215px;
}

h2 
{
    color: rgb(108, 99, 255);
    font-weight: 700;
    cursor: pointer;
}



.button 
{
    padding-top: 72px;
    transition: all.2s ease-in-out;
}

.button:hover 
{
    transform: translate(5px);
}


h3 
{
    font-size: 36px;
    margin: 0px 0px 10px 0px;
    font-weight: 800;
    text-align: center;
}

.button 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 
{
    border-bottom: 1px solid lightgray;
    padding-bottom: 80px;
}


h4 
{

    font-style: normal;
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #1B1B1B;
    display: flex;
    justify-content: center;
}

.edit 
{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #5F5F5F;
}

.research-section 
{
    display: flex;
    flex-direction: column-reverse;
}


.laravel 
{
    background-color: rgb(254, 242, 242);
    border: 1px solid rgb(254, 226, 226);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-decoration: none;
}




.vue 
{
    background-color: rgb(240, 253, 244);
    border: 1px solid rgb(220, 252, 231);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-decoration: none;
}



.react 
{
    background-color: rgb(239, 246, 255);
    border: 1px solid rgb(219, 234, 254);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-bottom: 20px;
    text-decoration: none;
}

.mobile-arrow
{
    display: flex;
    justify-content: center;
}

.laravel:hover 
{
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1)
}

.vue:hover 
{
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1)
}

.react:hover
{
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1)
}


.title
{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    color: #1B1B1B;
}

.work 
{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


.learn 
{
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

.learn-more
 {
    margin-top: auto;
}

.learn-more1 
{
    color: rgb(220, 38, 38);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.learn-more2 
{
    color: rgb(22, 163, 74);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}


.learn-more3 
{
    color: rgb(37, 99, 235);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.circle-red
 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-green 
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-blue
 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(108, 99, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-3 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.process 
{
    display: flex;
    flex-direction: column;
}


.link 
{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    margin: 20px;
    padding: 0;
}

.link a 
{
    color: rgb(18, 17, 17);
    font-size: 20px;
    margin: 0 10px;
}

.rights 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-end
{
    display: flex;
    justify-content: end;
   
}

.links-end ul li
{
    list-style: none;
   
    display: flex;
}

.links-end ul li a
{
    text-decoration: none;
    margin-right:20px;
}
    
.links-end ul
{
    display: flex;
}


.end 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.rights 
{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
}

.menu-links ul li 
{
    margin-right: 40px;
}

.menu-links ul li a 
{
    text-decoration: none;
    font-weight: 700;
}

.menu-links ul li a:hover 
{
    color: rgb(108, 99, 255);
}


.arrow-a,
.arrow-b,
.arrow-c,
.arrow-d,
.arrow-e 
{
    display: none;
}

.meet 
{
    display: none;
}